/* Write your code here. */
#root {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-flow: column;
  padding-top: 20px;
}

.info {
  background-color: #0b69ff;
  color: white;
  padding: 15px;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  margin-bottom: 10px;
}
.success {
  background-color: #2dca73;
  color: white;
  width: 200px;
  padding: 15px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  margin-bottom: 10px;
}
.warn {
  background-color: #ffb800;
  color: white;
  width: 200px;
  padding: 15px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  margin-bottom: 10px;
}
.error {
  background-color: #ff0b37;
  color: white;
  width: 200px;
  padding: 15px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  margin-bottom: 10px;
}
.heading {
  text-align: center;
  color: #0f172a;
}
img {
  width: 20px;
  margin-right: 10px;
}
